@import url('https://fonts.googleapis.com/css?family= Poppins:400,500,700');

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*---Body --*/
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
/*---Navigation --*/
.navbar {
    padding: .6rem;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1rem !important;
}
/*---Image carousel and captions--*/
.carousel-slide{
    max-width: 100%;
    background-color:#FFFFFF;
    margin-top:10px;
    overflow: hidden;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}


.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
    text-align: center;
}

.carousel-caption h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.carousel-caption h3{
    font-size:200%;
    font-weight: lighter;
    color: #F7AEF8;
    font: bold;
    text-transform: uppercase;
    padding-bottom:1rem;
}
.btn-outline-light{
    background-color: #222 ;
    border: 1px solid #222;

}
.btn-outline-light:hover {
    background-color: #F7AEF8 ;
    border: 1px solid #222;
}
/*---Jumbotron --*/
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.display-4 {
    justify-content: center;
     margin: 0px auto;
   
}
.lead{
    font-weight: light;
    padding-bottom:1rem;
    text-align: left; 
}
.padding{
    padding-bottom: 2rem;
}

/*---Welcome section --*/
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #F7AEF8;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
/*---Skills --*/
.fa-html5{
    color: #e54d26;
}

.fa-css3{
    color:#2163af;
}

.fa-python{
    color: #ffde57;
}

.fa-user{
    color:#4584b6;
}

.fa-music{
    color: #646464;
}

.fa-camera{
    color: #F7AEF8;
}

.fa-html5,.fa-css3, .fa-python, .fa-user, .fa-music, .fa-camera{
    font-size: 3em;
    margin: 1rem;
    padding-bottom: 1rem;
    font-weight: lighter;
}

/*---Parallax --*/


.margin {
    margin: 10% 0;
}

.parallax {
    background: url("img/parallax2.png")
    repeat fixed 50%;
}

.parallax-inner {
    padding-top:20%;
    padding-bottom: 20%;
}
h1{
    text-align: center;
    font-size: 500%;
    font:bold;
    color: #222222;
    letter-spacing: 3px;
}

/*---About Section--*/

#about p {
    text-align: left;
}

/*---Get In Touch--*/

#contact{  
    display: block;
    width: 100%; 
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.btn-info{
    color:#222;
    width: 50%;
    letter-spacing: 2px;
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.btn-info:hover {
    transform: scale(1.05);
}
/*---Socials--*/
.social a {
    font-size: 4em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twiiter {
    color:#00aced;
}

.fa-instagram {
    color: #f58529;
}

.fa-youtube {
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twiiter:hover, 
.fa-instagram:hover,
.fa-youtube:hover { 
   color: #d5d5d5;
}

/*---Footer--*/

footer{
    background-color: white;
    color: #d5d5d5;
    padding: 1rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top:1rem;
   
}

/*---Media Queries --*/
@media (max-width: 992px) {

.social a {
    font-size: 4em;
    padding: 2rem;
}

  
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
        color: #222;
    }
    
    .carousel-caption h1{
        font-size: 350%;
        font-weight: 500;
        text-transform: uppercase;
    }
    .carousel-caption h3{
        font-weight: 140;
        text-transform: uppercase;
        padding-bottom:1rem;
    } 
    .carousel-caption .btn{
        font-size: 98%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
        font-size: 200%;
    }

@media (max-width: 576px) {

      .carousel-caption {
        top: 50%;
        color: #222;
    }

   .carousel-caption h1{
        font-size: 200%;
        font-weight: 500;
        text-transform: uppercase;
    }
    .carousel-caption h3{
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom:1rem;
    } 
    .carousel-caption .btn{
        font-size: 98%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .parallax-inner{
        font-size: 50%;
    }

.welcome {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;

}

    .padding{
    min-height: 1px;
    padding-right:15px;
    padding-left: 15px;
    }
     .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
}
}
}